<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %green([%thread]) [%X{uuid}] %highlight(%-5level) %cyan([%-60.60(%logger{39}.%M:%yellow(%L))) %cyan(]) - %msg%n"/>
  <property name="CONSOLE_LOG_CHARSET" value="UTF-8"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
      <charset>${CONSOLE_LOG_CHARSET}</charset>
    </encoder>
  </appender>
  <!--  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
  <!--    <file>/logs/application.log</file>-->
  <!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
  <!--      <fileNamePattern>/logs/application-%d{yyyyMMdd}.log</fileNamePattern>-->
  <!--      <maxHistory>-1</maxHistory> &lt;!&ndash; 최대 보관일수 미지정, 삭제 x &ndash;&gt;-->
  <!--    </rollingPolicy>-->
  <!--    <encoder>-->
  <!--      <pattern>${LOG_PATTERN}</pattern>-->
  <!--      <charset>${CONSOLE_LOG_CHARSET}</charset>-->
  <!--    </encoder>-->
  <!--  </appender>-->

  <springProfile name="local">
    <logger name="com.daejangjangi" level="DEBUG"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <!--      <appender-ref ref="FILE"/>-->
    </root>
  </springProfile>

  <!--  <springProfile name="prod">-->
  <!--    <root level="INFO">-->
  <!--      <appender-ref ref="CONSOLE"/>-->
  <!--      <appender-ref ref="FILE"/>-->
  <!--    </root>-->
  <!--  </springProfile>-->

</configuration>