<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_PATTERN"
    value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %green([%thread]) %highlight(%-5level) %cyan([%-60.60(%logger{39}.%M:%yellow(%L))) %cyan(]) - %msg%n"/>
  <property name="CONSOLE_LOG_CHARSET" value="UTF-8"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
      <charset>${CONSOLE_LOG_CHARSET}</charset>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>